<h1>Listing ports</h1>

<table>
  <tr>
    <th>Idport</th>
    <th>Nic</th>
    <th>Port</th>
    <th>Time ch</th>
    <th>Status</th>
    <th>Label</th>
    <th>Trap</th>
    <th>Cacti url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ports.each do |port| %>
  <tr>
    <td><%= port.idport %></td>
    <td><%= port.nic %></td>
    <td><%= port.port %></td>
    <td><%= port.time_ch %></td>
    <td><%= port.status %></td>
    <td><%= port.label %></td>
    <td><%= port.trap %></td>
    <td><%= port.cacti_url %></td>
    <td><%= link_to 'Show', port %></td>
    <td><%= link_to 'Edit', edit_port_path(port) %></td>
    <td><%= link_to 'Destroy', port, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Port', new_port_path %>
