<%= form_for(@ttmscomment) do |f| %>
  <% if @ttmscomment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ttmscomment.errors.count, "error") %> prohibited this ttmscomment from being saved:</h2>

      <ul>
      <% @ttmscomment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :idcomment %><br />
    <%= f.number_field :idcomment %>
  </div>
  <div class="field">
    <%= f.label :userid %><br />
    <%= f.number_field :userid %>
  </div>
  <div class="field">
    <%= f.label :groupid %><br />
    <%= f.number_field :groupid %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.datetime_select :time %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :idttms %><br />
    <%= f.number_field :idttms %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
