<p id="notice"><%= notice %></p>

<p>
  <b>Idcomment:</b>
  <%= @ttmscomment.idcomment %>
</p>

<p>
  <b>Userid:</b>
  <%= @ttmscomment.userid %>
</p>

<p>
  <b>Groupid:</b>
  <%= @ttmscomment.groupid %>
</p>

<p>
  <b>Time:</b>
  <%= @ttmscomment.time %>
</p>

<p>
  <b>Text:</b>
  <%= @ttmscomment.text %>
</p>

<p>
  <b>Idttms:</b>
  <%= @ttmscomment.idttms %>
</p>


<%= link_to 'Edit', edit_ttmscomment_path(@ttmscomment) %> |
<%= link_to 'Back', ttmscomments_path %>
