<table border=0 width=100% id="statistics" class="display"?
  <thead>
    <tr>
      <td class=hblist>Неделя</td>
      <% stat_name_hash[params[:otdel]].keys.each do |kk| %>
        <td class=hblist><%= kk %></td>
      <% end %>
      <td class=hblist>#</td>
    </tr>
  </thead>

  <tbody>

  <% @stats.each do |stat| %>
      <%= form_for(stat) do |f| %>
      <tr class="<%= cycle :sclist, :dclist %>">
        <td align=center><%= f.text_field :week, :onclick => "document.getElementById('submit#{stat.id}').style.display = '';", :size=>6 %></td>
        <% 1.upto(6) do |i| %>
          <td align=center><%= f.text_field "s#{i}", :onclick => "document.getElementById('submit#{stat.id}').style.display = '';", :size=>6 %></td>
        <% end %>
      <td>
       <%= link_to tag("img", {  :src => "/images/button_drop.gif", :alt => "Del"}, false), stat, method: :delete, data: { confirm: 'Are you sure?' } %>
       &nbsp;
       <%= f.submit "Save", :id => "submit#{stat.id}", :type => :image, :src => "/images/disk.png", style: 'display:none' %>
    </td>
    </tr>
    <% end %>
  <% end %>

      <%= form_for(@newstat) do |f| %>
          <tr class="<%= cycle :sclist, :dclist %>">
            <td align=center><%= f.text_field :week, :size=>6 %></td>
            <% 1.upto(6) do |i| %>
              <td align=center><%= f.text_field "s#{i}", :size=>6 %></td>
            <% end %>
        <td>
          <%= f.hidden_field :otdel %>
         <%= f.submit "Save", :id => "submitnewstat", :type => :image, :src => "/images/disk.png" %>
      </td>
      </tr>
      <% end %>

  <tbody>
</table>
