<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <b> Задача поменяла статус </b><br>
 <%
    case @task.type_t
      when /ppo|zakaz/
   %>
    <b>Стоимость инсталляционного платежа составит: <%=@task.result%></b><p>
 <%
        if @task.flag=~/sogl/
   %>
    <b>Требуется согласования !!!</b><p>
 <%
	end
      when 'shem'
        if @erpfiles.count > 0
   %>
         <b>Схемы:</b><p>
 <%
          @erpfiles.each do |erpfile|
            if erpfile.status=='new'
   %>
         <%= link_to erpfile.name, "http://mng.di-di.ru/erpfiles/#{erpfile.id}" %><br>
 <%
            end
          end
        end
      when 'akt'
        if @erpfiles.count > 0
   %>
         <b>АКТ:</b><p>
 <%
          @erpfiles.each do |erpfile|
            if erpfile.status=='new'
   %>
         <%= link_to erpfile.name, "http://mng.di-di.ru/erpfiles/#{erpfile.id}" %><br>
 <%
            end
          end
        end
      else
   %>
       <b>Результат: <%=@task.result%></b><p>
 <%
    end
   %>
 <p>
 <b>Комментарии:</b><p>
 <% @comments.each do |comment|
  %>
  <p><%=comment.text.html_safe%><br>***<b><%=comment.auth.fullname unless comment.auth.nil?%></b> <%=comment.time.strftime("%Y-%m-%d %H:%M")%></p>
 <%
    end
  %>
  <table>
  <tr><td><b>Организация:</b></td><td><%=@client.name%></td></tr>
  <tr><td><b>Адрес:</b></td><td><%=@task.name%></td></tr>
<% if @task.type_s=~/Телефония/ %>
       <tr><td><b>Количество линий</b></td><td><%=@task.target%></td></tr>
<% else %>
       <tr><td><b>Скорость:</b></td><td><%=@task.target%></td></tr>
<% end %>
  <tr><td><b>Тип сервиса:</b></td><td><%=@task.type_s%></td></tr>
  <tr><td><b>Контакт:</b></td><td><%=@client.contact%></td></tr>
  <tr><td><b>Доходность:</b></td><td><%=@task.type_t=='zakaz' ? @task.flag : @client.income%></td></tr>
  <tr><td><b>Менеджер:</b></td><td><%=@client.manager%></td></tr>
  <tr><td>URL:</td><td><%= link_to "CRM", "http://mng.di-di.ru/tasks/#{@task.id}?cl_id=#{@client.id}" %></td></tr>
  </table>
</body></html>
