  <% if flash[:error] %>
    <div id="error_explanation">
      <ul><li><%= flash[:error] %></li></ul>
    </div>
  <% end %>

<table width=100%>
<td><%= will_paginate @services %></td><td>
<b>Количество - <%= @services.count %></b></td>
<td>
<%= form_tag "/reports/services", :method => 'get' do %>
        <select name=type_s[] multiple>
              <option value=>
              <% srv_type_hash.each do |key,str| %>
                  <option value=<%=key%> <%=" selected" if !params[:type_s].nil? && params[:type_s].include?(key) %> ><%=str%>
              <% end %>
        </select>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Найти", :name => nil %>
<% end %>
</td>
<td>
<% np = params.dup
   rpath = reports_services_path(np).split('?')
   rpath[0]+=".xls"
      %>
  <%= link_to tag("img", { :src => "/images/excel.gif", :alt => "Excel", :border=>0, :title=>"Excel"}, false), rpath.join('?') %>
</td>
</table>
<table width=100%>
  <tr>
    <td class=hblist><%= sortable "serv_id", "##",{:search=>params[:search],:type_s=>params[:type_s]}%></td>
    <td class=hblist><%= sortable "name", "Название",{:search=>params[:search],:type_s=>params[:type_s]}%></td>
    <td class=hblist><%= sortable "city", "Город",{:search=>params[:search],:type_s=>params[:type_s]}%></td>
    <td class=hblist><%= sortable "addr", "Адрес",{:search=>params[:search],:type_s=>params[:type_s]}%></td>
    <td class=hblist><%= sortable "type_s", "Тип",{:search=>params[:search],:type_s=>params[:type_s]}%></td>
    <td class=hblist><%= sortable "speed", "Скорость",{:search=>params[:search],:type_s=>params[:type_s]}%></td>
    <td class=hblist><%= sortable "vlan", "Vlan",{:search=>params[:search],:type_s=>params[:type_s]}%></td>
    <td class=hblist><%= sortable "ipaddr", "IP-Addr",{:search=>params[:search],:type_s=>params[:type_s]}%></td>
    <td class=hblist><%= sortable "cl_port", "Порт",{:search=>params[:search],:type_s=>params[:type_s]}%></td>
  </tr>

<% @services.each do |serv| %>
  <tr class="<%= cycle :sclist, :dclist %>">
    <td><%= serv.serv_id %></td>
    <td><%= link_to serv.name, "/services/?cl_id=#{serv.cl_id}" %></td>
    <td><%= serv.city %></td>
    <td><%= serv.addr %></td>
    <td><%= serv.type_s %></td>
    <td><%= serv.speed %></td>
    <td><%= serv.vlan %></td>
    <td><%= serv.ipaddr %></td>
    <td><%= serv.cl_port %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @services %>
